<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>kamOn</title>
</head>
<body>
    <div id="app">
        <button class="fill" @click="fillTodos">Befüllen</button>
        <button class="shuffle" @click="shuffleBacklog">Backlog mischen</button>
        <button class="nextDay" @click="nextDay">Nächster Tag</button>
        <button class="add-todo" @click.prevent="showTodoForm">+</button>
        <form>
            <input type="text" class="todo-text" v-model.trim="addTodoInpt" placeholder="Todo eingeben">
            
            <!-- Option 1: Nur Text -->
            <input type="radio" name="option" value="1">
            <label>Einmalig"</label>
            <br><br>

            <!-- Option 2: Text + Datum -->
            <input type="radio" name="option" value="2">
            <label>Exakt am: <input type="date" name="opt2_date"></label>
            <br><br>

            <!-- Option 3: Text + Datum -->
            <input type="radio" name="option" value="3">
            <label>Spätestens am: <input type="date" name="opt3_date"></label>
            <br><br>

            <!-- Option 4: 7 Checkboxen -->
            <input type="radio" name="option" value="4">
            <label>An folgenden Wochentagen:</label><br>
            <div style="margin-left:20px;">
                <input type="checkbox" name="opt4_cb1"> Montag<br>
                <input type="checkbox" name="opt4_cb2"> Dienstag<br>
                <input type="checkbox" name="opt4_cb3"> Mittwoch<br>
                <input type="checkbox" name="opt4_cb4"> Donnerstag<br>
                <input type="checkbox" name="opt4_cb5"> Freitag<br>
                <input type="checkbox" name="opt4_cb6"> Samstag<br>
                <input type="checkbox" name="opt4_cb7"> Sonntag<br>
            </div>
            <br>

            <!-- Option 5: Select -->
            <input type="radio" name="option" value="5">
            <label>Jeden 
                <select name="opt5_select">
                <option value="">X</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
                <option value="3">6</option>
                <option value="1">7</option>
                <option value="2">8</option>
                <option value="3">9</option>
                <option value="1">10</option>
                <option value="2">11</option>
                <option value="3">12</option>
                <option value="1">13</option>
                <option value="2">14</option>
                </select>
                . Tag
            </label>
            <br><br>

            <!-- Option 6: Select + Checkboxen -->
            <input type="radio" name="option" value="6">
            <label>Alle 
                <select name="opt6_select">
                <option value="">X</option>
                <option value="A">1</option>
                <option value="B">2</option>
                <option value="C">3</option>
                <option value="D">4</option>
                </select>
                 Wochen<br>
                an folgenden Tagen:  
                <input type="checkbox" name="opt6_cb1"> Montag<br>
                <input type="checkbox" name="opt6_cb2"> Dienstag<br>
                <input type="checkbox" name="opt6_cb3"> Mittwoch<br>
                <input type="checkbox" name="opt6_cb4"> Donnerstag<br>
                <input type="checkbox" name="opt6_cb5"> Freitag<br>
                <input type="checkbox" name="opt6_cb6"> Samstag<br>
                <input type="checkbox" name="opt6_cb7"> Sonntag<br>
            </label>
            <br>

            <!-- Option 7: Freitext -->
            <input type="radio" name="option" value="7">
            <label>Anmerkungen: <textarea name="opt7_text"></textarea></label>
            <br><br>

            <button>Abbrechen</button>
            <button type="submit">Erstellen</button>

        </form>
        <ul class="active">
            <li v-for="(todo, index) in active" :key="index">
                <span class="title">{{ todo.title }}</span>
                <span class="badge">{{ todo.coins }}</span>
                <img src="./assets/goldcoin.svg" alt="goldmuenze" width="90">
            </li>
        </ul>
        <transition-group name="list" tag="ul" class="backlog">
            <li v-for="todo in backlog" :key="todo.id">
                {{ todo.title }}
            </li>
        </transition-group>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
