<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>kamOn</title>
</head>
<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <button @click="changeMessage">Klick mich</button>
        <h1>kaMon</h1>
        <button class="fill" @click="fillTodos">Befüllen</button>
        <button class="firstDayOfMonth" @click="firstDay">Monatsanfang</button>
        <button class="nextDay" @click="nextDay">Nächster Tag</button>
        <form>
            <input type="text" class="todo-text" v-model.trim="addTodoInpt" placeholder="Todo eingeben">
            <button class="add-todo" @click.prevent="addTodoToBacklog" :disabled="addTodoInpt.length < 3">+</button>
        </form>
        <ul class="active">
            <li v-for="(todo, index) in active" :key="index">
                {{ todo }}
                <span>{{ counterGoldCoins }}</span>
                <img src="./assets/Gold_coin_icon.png">
            </li>
        </ul>
        <ul class="next">
            <li v-for="(todo, index) in next" :key="index">
                {{ todo }}
            </li>
        </ul>
        <div class="divAroundList">
            <span class="counterBacklog">{{ counterBacklogCurrent }} / {{ counterBacklogTotal }}</span>
            <ul class="backlog">
                <li v-for="(todo, index) in backlog" :key="index">
                    {{ todo }}
                </li>
            </ul>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
