body {
    padding: 2rem;
}
button {
    font-size: 2rem;
    height: 6rem;
}
form {
    display: flex;
    gap: 2rem;
}
.todo-text {
    padding: 2rem;
    font-size: 3rem;
    border-radius: 2rem;
    flex: 9;
}
.add-todo {
    font-size: 3rem;
    border-radius: 2rem;
    width: 10rem;
}
div.divAroundList {
    position: relative;
    border: 4px solid #023047;
    border-radius: 1rem;
    margin-top: 3rem;
    background-color: #8ecae6;
    display: flex;
    justify-content: center;
}
span.counterBacklog {
    position: absolute;
    top: -2rem;        
    background: orangered; 
    padding: 0 1rem;    
    font-size: 3rem;
    border: 2px solid black;
    border-radius: 1.25rem;
}
ul {
    list-style-type: none;
    padding: 1rem;
    margin: 0 0 1rem;
    min-height: 2rem;
    border: 4px solid #023047;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    &.active {
        background-color: red;
    }
    &.next {
        background-color: yellow;
    }
    &.backlog {
        border-radius: 2rem;
        background-color: #8ecae6;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}
.divAroundList ul {
    border: none;
    margin: 0;
}
li {
    display: flex;
    font-size: 3rem;
    border-radius: 2rem;
    border: 1px solid black;
    font-family: 'Roboto Flex', sans-serif;
    padding: 2rem;
    margin: 1rem 0;
    background: #14c8ce;
    justify-content: space-between;
    align-items: center;
    max-height: 3rem;
    span {
        position: absolute;
        font-size: 3rem;
        right: 65px;
        color: black;
    }
}
.list-move {
    transition: transform 3s ease;
}